
  
<div class="row align-items-center">
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <h2 class="display-5">Lo mejor en Botines</h2>
        <hr>
        {%load static%}
        <img src="{% static 'inicio/img/logo.jpg' %}" class="img-fluid" alt="Botas">
        <p class="pt-5">Hemos pensado ya  en los meses de calor, llega la bajada de temperatura.  Es hora de dar pasos firmes pero ahora con unas increíbles botas o botines.</p>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4 ">
        <h2 class="display-5">La mejor Tendencia</h2>
        <hr>
        <img src="{% static 'inicio/img/logo.jpg' %}" class="img-fluid" alt="Tendencia">
        <p class="pt-5">En una temporada marcada por un estilo nostálgico y vintage en la ropa,  el calzado también tomará esta esencia pero con un toque y detalles más arriesgados.</p>            
  </div>
  
  <div class="col-12 col-sm-6 col-md-4">
    <h2 class="display-5">Rebajas cklass</h2>
    <hr>
    <img src="{% static 'inicio/img/logo.jpg' %}" class="img-fluid " alt="Rebaja">
    <p class="pt-5">No te pierdas esta lista de tendencias que llegan con el inicio de cada temporada.  Para que este otoño actualices el armario con las prendas clave.</p> 
  </div>
  
  </div>