{% extends "inicio/encabezado.html" %}


{% block titulo %} CLASIFICADOS {%endblock titulo%}


{% block contenido %} {%endblock contenido%}

{% block clasificados%}
{%load static%}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Descansa, Relajate, Diviertete</span>
                        <span class="section-heading-lower">Lugares seleccionados</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'inicio/img/interior1.jpg' %}" alt="interior1" />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Come al aire libre, sin el estres de la ciudad, fines de semana innolvidables ya sea solo o acompañado escapa y disfruta de la narualeza. </p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Instalaciones</span>
                        <span class="section-heading-lower">Acomodado, a tu gusto</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'inicio/img/interior2.jpg' %}" alt="interior2" />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">Al hacer tu reservacion indica como quieres que se vea tu cabaña todo a disponibilidad de los objetos de decoracion.</p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">De todo el mundo</span>
                        <span class="section-heading-lower">La comodidad al alcance</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'inicio/img/interior5.jpg' %}" alt="..." />
            <!-- <div class="product-item-description d-flex me-auto"> -->
                <!-- <div class="bg-faded p-5 rounded"><p class="mb-0">.</p></div> -->
            </div>
        </div>
    </div>
</section>

{% endblock clasificados %}